body {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px gray solid;
  border-radius: 15px;
  padding: 10px;
}

.screen {
  height: 80px;
  width: 150px;
  margin-bottom: 2.5px;
  background-color: rgb(179, 179, 179);
  border: 1px black solid;
  border-radius: 10px;
  overflow: hidden;
}
.input {
    font-size: 20px;
    color: black;
    text-align: end;
    margin: 10px 5px;
    font-weight: 900;
}

.output {
    font-size: 18px;
    color: black;
    text-align: end;
    margin: 10px 5px;
    font-weight: 900;
    color: #949494;
}

.btn-op {
  background-color: rgb(255, 194, 63);
}
button {
  height: 30px;
  width: 30px;
  margin: 2.5px;
  border: 3px;
  border-radius: 5px;
  border-style: outset;
  transition: all 0.1s ease;
}

button:active {
  border: 0.5px;
  border-style: outset;
  transition: all 0.1s ease;
}
